# PlatformIO
.pio/
.pioenvs/
.piolibdeps/

# Build / cache
*.o
*.a
*.elf
*.bin
*.map

# IDE
.vscode/.browse.c_cpp.db*
.vscode/launch.json
.vscode/ipch/
.idea/

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Secrets (ne jamais versionner)
.env
*.pem
credentials.json

# Android (ventec-ble-api)
ventec-ble-api/android-app/.gradle/
ventec-ble-api/android-app/build/
ventec-ble-api/android-app/app/build/
ventec-ble-api/android-app/local.properties
**/.gradle/
